@import './Common.css';
.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.home-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.items-container {
  margin: 20px 0;
}

.pagination-container {
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

.pagination li a:hover {
  background-color: #f0f0f0;
}

.pagination .active a {
  background-color: #61dafb;
  border-color: #61dafb;
  color: white;
}